.card{
    display: flex;
    justify-content: center;
    background-color: aqua;
    border: 2px solid #000;
    border-radius: 8px;
    height: 180px;
    width: 200px;
    margin: 1px;
}
.flag{
    width: 135px;
    height: 80px;
    padding: 10px;
    border-radius: 15px;
}
.shadow{
    display: flex;
    font-size: x-small;
    flex-direction: column;
    position: relative;
    padding: 10px;

};
.name{
    font-size: 15px;
    position: absolute;
}
.favButton{
    width: 40px;
    border: none;
    border-radius: 60px;
    padding: 10px;
    margin-left: 123px;
    top: 132px;
    position: absolute;
}
.continent{
    font-size: 12px;
    position: absolute;
    top: 140px;
}
    
   



