
.header{
    display: flex;
    background-color: #124577;
    margin: 2.5px;
    border-radius: 20px;
    margin: 2.5px;
    position: sticky;
    top: 0;
    z-index: 100;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
