
.header{
    display: flex;
    background: rgb(90,24,154);
    background: linear-gradient(0deg, rgba(90,24,154,1) 0%, rgba(157,78,221,1) 47%);
    margin: 2.5px;
    border: solid 1px #e0aaff;
    border-radius: 20px;
    margin: 2.5px;
    position: sticky;
    top: 0;
    z-index: 100;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
