.mainSection{
    background-color: #000;
    width: 100%;
    position: sticky;
    top: 300px;
    display: flex;
    grid-column: 2/ 5;
    grid-row: 4/ 5;
    flex-wrap: wrap;
};

.cardsContainer{
    background-color: red;
}